body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0 54px;
}

.first-section {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}

.header .logo {
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

.hero img {
    height: auto;
    width: 400px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header a {
    text-decoration: none;
}

.header a, .hero p {
    color: #E5E7EB;
    font-size: 18px;
}